.aboutPage {
    margin: 20px 0;
    width: 100%;
    height: 57vh;

    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutPage h1 {
    color: #764ccc;
    font-size: 42px;
    font-family: 'Montserrat';
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxText {
    padding: 28px;
    width: 1100px;
    height: 420px;

    border-left: 1px solid #663fb6;

    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.boxText p {
    font-family: 'Montserrat';
    color: #fff;
    font-size: 22px;
}

.computer3D {
    width: 15%;
    rotate: 5deg;
    animation: plane 10s infinite ease-in-out;
}

.aboutParagraph {
    transform: translateX(-1100px);
    opacity: 0;
}

.revealText {
    /* animation: showText 1.2s ease-out; */
    animation: reveal 0.8s forwards var(--time);
}

/* @keyframes showText {
    from{
        transform: translateX(-1100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} */

@keyframes reveal {
    from {
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes plane {
    25% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

