.projectsPage {
    width: 100%;
    height: 58vh;

    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projectsPage h1 {
    color: #663fb6;
    font-size: 42px;
    font-family: 'Montserrat';
}