@media only screen and (max-width: 600px){
    .optionsMenuContainer {
        width: 100px;
    }

    header {
        background: #0b0b1b;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    header h1 {
        font-size: 30px;
    }


    .certificateContainer {
        width: 400px;
        height: 500px;
    }

    footer p {
        font-size: 12px;
    }
    footer span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 601px){
    .optionsMenuContainer {
        width: 100px;
    }

    header {
        background: #0b0b1b;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .certificateContainer {
        width: 600px;
    }
}