* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    /* border: red 1px solid; */
}

main {
    width: 100%;
}



html {
    scroll-behavior: smooth;
    width: 100%;
}
:visited {
    color: none;
}
body {
    width: 100%;
    overflow-x: hidden;
    background-color: #030217;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #000;
}
::-webkit-scrollbar-thumb {
    background-color: #312150;
    border-radius: 10px;
}

.line {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}


